@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal terminal style */
body {
  background: #000000;
  color: #00ff9c;
  font-family: monospace;
}

.cursor::after {
  content: "_";
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}